<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a BMOL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <h1>Edit</h1>
            <h3 style="color : black;">Administrar Producto</h3>
            <%console.log(product.name) %>
            <h3 style="color : white;"><%-product.name%></h3>

            
            <form action="/products?_method=PUT" method="POST" class="product-admi" enctype="multipart/form-data">
                
                <section class="personal-info">

                    <div class="product-detail" style="display: flex; flex-direction: row ;">
                        <div>
                            <img src="/images/<%=product.image%>" alt="Imagen del producto" width="100%">
                        </div>
                        <div style="padding : 5%;">
                            <h3>Detalles</h3>
                           <ul>
                               <li>Id del producto: <%-product.id%></li>
                               <li>Nombre: <%-product.name%></li>
                               <li>Descripcion: <%-product.description%></li>
                               <li>Categoria: <%-product.category%></li>
                               <li>Color: <%-product.color%></li>
                               <li>Precio: <%-product.price%></li>
                           </ul>     
                        </div>
                    </div>
                    
                    <div>
                        <h3>Introduzca la nueva informacion del producto</h3>
                    </div>
                    
                    <div class="product">
                        <h3>Item ID: <%-product.id%></h3>
                        <input class="id" type="text" name="id" id="name" value="<%-product.id%>" style="display : none;">
                            <div>
                                <label for="nombre-del-producto">Nombre del producto:</label>
                                <input type="text" name="name" id="name" value="loquesea">    
                            </div>
                
                            <div>
                                <label for="description">Descripción</label>
                                <input type="text" name="description" id="description">    
                            </div>

                            <div>
                                <label for="category">Categoría</label>
                                <select name="category" id="category">
                                    <option value="guitarra">Guitarra</option>
                                    <option value="bajos">Bajos</option>
                                    <option value="baterias">Baterías</option>
                                    <option value="teclados">Teclados</option>
                                </select>    
                            </div>
                            <div>
                                <label for="color">Color</label>
                                <input type="color" name="color" id="color">  
                            </div>
                            <!-- <div>
                                <label for="image">Imagen</label>
                                <input type="file" name="image" id="image">  
                            </div> -->
                            <div>
                                <label for="price">Precio</label>
                                <input type="number" name="price" id="price">  
                            </div>

                            <div style="margin-bottom: 1rem;">
                                <input type="submit" name="edit" id="edit" value="Editar">  
                            </div>
                    </div>  
                </section>
            </form>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>