<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a BMOL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <h3>Administrar Producto</h3>

            <div class="product-detail" style="display: flex; flex-direction: row ;">
                <div>
                    <img src="/images/<%=product.image%>" alt="Imagen del producto" width="100%">
                </div>
                <div style="padding : 5%;">
                    <h3>Detalles</h3>
                   <ul style="color: aliceblue;">
                       <li>Id del producto: <%-product.id%></li>
                       <li>Nombre: <%-product.name%></li>
                       <li>Descripcion: <%-product.description%></li>
                       <li>Categoria: <%-product.category%></li>
                       <li>Color: <%-product.color%></li>
                       <li>Precio: <%-product.price%></li>
                   </ul>     
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>